@import url(//db.onlinewebfonts.com/c/3e09062e3b0ce6bb44ab60de3bca0374?family=Rajdhani);
@import url(//db.onlinewebfonts.com/c/d00c405a886d557cef800137d6f3fa2a?family=Rajdhani+Bold);
:root {
  font-family: 'Rajdhani', Roboto;
  font-size: 24px;
  --primary: #313744;
  --link: #244cff;
  --fg: #eeeeee;
  --fg-2: #cccccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rajdhani Bold', Roboto;
}

section {
  background-color: var(--primary);
  color: var(--fg);
}

h1 {
  margin-top: 10px;
  font-size: 3rem;
}

h2 {
  font-size: 1.25rem;
}

ul {
  padding-left: 5px;
}

ul li {
  padding: 5px 0;
  list-style: none;
}

ul li p {
  margin: 0;
}

ul li p * {
  line-height: 1.5;
}

h6 {
  font-size: 3em;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

li::marker {
  font-family: 'Courier New', Courier, monospace;
  content: '• ';
}

blockquote {
  font-size: 0.8em;
  color: var(--fg-2);
  line-height: 2;
  margin: 0;
  padding: 5px 30px;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}

blockquote::before {
  content: '';
  height: 100%;
  width: 4px;
  background-color: #f39f47;
  position: absolute;
  top: 0;
  left: 0;
}

ul ul li::marker {
  content: initial;
}

section {
  padding: 50px;
}

section[id='1'] {
  color: white;
  display: grid;
  place-items: center;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%22410%22%20height%3D%22433%22%20viewBox%3D%220%200%20410%20433%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M202.067%20288.805C257.222%20288.805%20301.502%20244.094%20300.969%20188.941C300.435%20133.788%20255.29%2089.0781%20200.135%2089.0781C144.979%2089.0781%20100.699%20133.788%20101.233%20188.941C101.766%20244.094%20146.911%20288.805%20202.067%20288.805Z%22%20fill%3D%22url(%23paint0_linear_1783_1426)%22%2F%3E%20%3Cg%20style%3D%22mix-blend-mode%3Ascreen%22%20opacity%3D%220.8%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M103.255%20166.833C107.447%20150.246%20116.02%20134.511%20128.989%20121.426C167.817%2082.2532%20231.353%2081.665%20270.899%20120.112C296.68%20145.176%20305.514%20180.743%20298.053%20213.25C306.411%20180.179%20297.474%20144.022%20271.137%20118.417C231.59%2079.9697%20166.982%2077.0955%20129.495%20119.326C115.98%20132.962%20107.239%20149.476%20103.255%20166.833Z%22%20fill%3D%22%23F8F8FC%22%2F%3E%20%3C%2Fg%3E%20%3Cpath%20d%3D%22M300.531%20202.393C295.758%20214.99%20288.31%20226.826%20278.181%20237.046C239.353%20276.219%20175.817%20276.807%20136.271%20238.36C112.763%20215.505%20103.023%20184.001%20107.145%20153.979C93.623%20189.666%20103.6%20232.766%20130.895%20259.301C169.073%20297.852%20234.551%20298.912%20273.047%20258.892C288.794%20243.005%20297.718%20222.876%20300.531%20202.393Z%22%20fill%3D%22black%22%20fill-opacity%3D%220.1%22%2F%3E%20%3Cpath%20d%3D%22M221.2%20192.961L227.478%20192.961C228.524%20192.961%20229.047%20193.46%20229.047%20194.456L229.047%20228.832C229.047%20232.718%20227.976%20235.733%20225.834%20237.875C223.691%20239.967%20220.677%20241.014%20216.791%20241.014L209.318%20241.014C205.382%20241.014%20202.343%20239.967%20200.201%20237.875C198.058%20235.782%20196.987%20232.768%20196.987%20228.832L196.987%20221.808C196.987%20220.761%20197.51%20220.238%20198.557%20220.238L204.909%20220.238C205.955%20220.238%20206.478%20220.761%20206.478%20221.808L206.478%20228.384C206.478%20229.978%20206.802%20231.124%20207.45%20231.822C208.147%20232.469%20209.268%20232.793%20210.813%20232.793L215.222%20232.793C216.816%20232.793%20217.937%20232.469%20218.585%20231.822C219.232%20231.124%20219.556%20229.978%20219.556%20228.384L219.556%20194.531C219.556%20193.485%20220.104%20192.961%20221.2%20192.961Z%22%20fill%3D%22%23313744%22%2F%3E%20%3Cpath%20d%3D%22M237.229%20228.758L237.229%20227.263C237.229%20226.217%20237.752%20225.694%20238.798%20225.694L245.15%20225.694C246.197%20225.694%20246.72%20226.217%20246.72%20227.263L246.72%20227.861C246.72%20229.754%20247.093%20231.049%20247.841%20231.747C248.588%20232.444%20249.958%20232.793%20251.951%20232.793L255.463%20232.793C257.406%20232.793%20258.752%20232.42%20259.499%20231.672C260.296%20230.925%20260.695%20229.53%20260.695%20227.487L260.695%20226.59C260.695%20225.146%20260.097%20224.05%20258.901%20223.302C257.755%20222.505%20256.31%20222.032%20254.567%20221.882C252.823%20221.733%20250.93%20221.459%20248.887%20221.06C246.894%20220.612%20245.026%20220.064%20243.282%20219.416C241.538%20218.719%20240.069%20217.399%20238.873%20215.456C237.727%20213.463%20237.154%20210.922%20237.154%20207.833L237.154%20205.217C237.154%20201.331%20238.25%20198.317%20240.442%20196.175C242.634%20194.033%20245.674%20192.961%20249.56%20192.961L257.033%20192.961C260.969%20192.961%20264.033%20194.033%20266.225%20196.175C268.417%20198.317%20269.513%20201.331%20269.513%20205.217L269.513%20206.637C269.513%20207.683%20268.99%20208.207%20267.943%20208.207L261.591%20208.207C260.545%20208.207%20260.022%20207.683%20260.022%20206.637L260.022%20206.189C260.022%20204.246%20259.648%20202.926%20258.901%20202.228C258.154%20201.531%20256.784%20201.182%20254.791%20201.182L251.876%20201.182C249.834%20201.182%20248.439%20201.58%20247.691%20202.378C246.994%20203.125%20246.645%20204.619%20246.645%20206.861L246.645%20208.281C246.645%20210.623%20248.688%20211.968%20252.773%20212.317C257.008%20212.666%20260.769%20213.513%20264.057%20214.858C265.801%20215.605%20267.246%20216.95%20268.392%20218.893C269.588%20220.786%20270.185%20223.228%20270.185%20226.217L270.185%20228.758C270.185%20232.644%20269.089%20235.658%20266.897%20237.8C264.705%20239.942%20261.666%20241.014%20257.78%20241.014L249.634%20241.014C245.748%20241.014%20242.709%20239.942%20240.517%20237.8C238.325%20235.658%20237.229%20232.644%20237.229%20228.758Z%22%20fill%3D%22%23313744%22%2F%3E%20%3Cpath%20d%3D%22M298.236%20216.447C300.822%20207.603%20301.251%20202.425%20301.251%20194.277C316.885%20190.502%20324.221%20186.937%20324.221%20181.79C324.221%20169.911%20215.311%20166.308%20203.053%20166.308C193.045%20166.308%2080.624%20170.595%2080.624%20183.535C80.624%20190.767%20101.262%20193.975%20101.262%20193.975C101.262%20193.975%20101.952%20200.798%20102.64%20205.152C103.342%20209.596%20104.843%20216.458%20104.843%20216.458C49.068%20209.6%2027.0132%20196.555%2027.0132%20181.184C27.0132%20158.821%20107.155%20137.479%20206.014%20137.479C304.873%20137.479%20385.015%20158.821%20385.015%20181.184C385.015%20196.555%20354.012%20209.589%20298.236%20216.447Z%22%20fill%3D%22%23313744%22%2F%3E%20%3Cpath%20d%3D%22M299.044%20210.665L299.732%20205.635C327.488%20199.967%20343.688%20192.598%20343.688%20183.473C343.688%20171.714%20311.026%20165.998%20268.357%20160.752C248.946%20158.365%20226.699%20157.009%20203.053%20157.009C179.407%20157.009%20157.159%20158.365%20137.749%20160.752C95.0804%20165.999%2066.0648%20171.714%2066.0648%20183.473C66.0648%20192.598%2074.5085%20198.045%20102.264%20203.714L103.644%20210.548C64.3828%20204.223%2040.5647%20195.445%2040.5647%20183.71C40.5647%20170.464%2080.8352%20157.672%20128.901%20151.762C150.767%20149.073%20177.97%20146.475%20204.608%20146.475C231.245%20146.475%20258.984%20149.074%20280.85%20151.762C328.916%20157.672%20368.65%20170.464%20368.65%20183.71C368.652%20195.444%20338.306%20204.339%20299.044%20210.665Z%22%20fill%3D%22%2335DEE9%22%2F%3E%20%3Cdefs%3E%20%3ClinearGradient%20id%3D%22paint0_linear_1783_1426%22%20x1%3D%2246.4399%22%20y1%3D%22283.711%22%20x2%3D%22285.948%22%20y2%3D%22135.433%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%20%3Cstop%20stop-color%3D%22%23EF8134%22%2F%3E%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23F7B55D%22%2F%3E%20%3C%2FlinearGradient%3E%20%3C%2Fdefs%3E%20%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 380px;
  padding-top: 250px;
  grid-template-rows: min-content min-content;
  align-content: center;
}

section h1 {
  font-weight: bold;
  margin: 0;
}

section[id='1'] h2 {
  margin: 0;
}

a {
  color: var(--link) !important;
  text-decoration: none;
}

li pre {
  margin: 0;
}

li img {
  border-radius: 8px;
}

pre {
  display: inline-block;
  padding: 30px 40px;
  background-color: #23252e;
  border-radius: 8px;
  font-size: 16px;
}

@import url('/assets/nord.css');
